<div class="container-main">
  <header>
      <img src="../images/logo.png" alt="Logo">
    <nav>
        <a href="/dashboard">PROCEDIMENTOS</a>
        <a href="/dashboard/agenda">AGENDA</a>
        <a href="/dashboard/cadastro">CADASTROS</a>
    </nav>
</header>
</div>