</head>
<body>
  <header class="sidebar">
    <a href="/calendario">
      <img src="/images/calendar-icon.png" alt="Agenda" class="sidebar-icon">
    </a>
    <a href="#pagamentos">
      <img src="/images/payment-icon.png" alt="Pagamentos" class="sidebar-icon">
    </a>
    <a href="/clientes">
      <img src="/images/users-icon.png" alt="Usuários" class="sidebar-icon">
    </a>
  </header>

  <main class="container">
    <h1>Procedimentos</h1>
    <button class="btn-adicionar">+ Adicionar Procedimento</button>
    <section class="procedimentos">
      <article class="procedimento">
        <img src="/images/terapia-ortomolecular.jpg" alt="Terapia Ortomolecular" class="procedimento-img">
        <h3 class="procedimento-title">Terapia Ortomolecular</h3>
      </article>
      <article class="procedimento">
        <img src="/images/criomodelagem.jpg" alt="Criomodelagem" class="procedimento-img">
        <h3 class="procedimento-title">Criomodelagem</h3>
      </article>
      <article class="procedimento">
        <img src="/images/renata-franca.jpg" alt="Renata França" class="procedimento-img">
        <h3 class="procedimento-title">Renata França</h3>
      </article>
      <article class="procedimento">
        <img src="/images/ozonioterapia.jpg" alt="Ozonioterapia" class="procedimento-img">
        <h3 class="procedimento-title">Ozonioterapia</h3>
      </article>
    </section>
  </main>
</body>
</html>
