<div class="container-main">
  <header>
      <img src="images/logo.png" alt="Logo">
    <nav>
      <a href="/dashboard">PROCEDIMENTOS</a>
      <a href="/dashboard/agenda">AGENDA</a>
      <a href="/dashboard/cadastro">CADASTROS</a>
    </nav>
  </header>

  <main>
    <div class="card">
      <img src="/images/terapiaortomolecular.jpeg" alt="Terapia Ortomolecular">
      <h3>TERAPIA ORTOMOLECULAR</h3>
    </div>
    <div class="card">
      <img src="/images/criomodelagem.jpeg" alt="Criomodelagem">
      <h3>CRIOMODELAGEM</h3>
    </div>
    <div class="card">
      <img src="/images/renatafranca.jpeg" alt="Renata França">
      <h3>RENATA FRANÇA</h3>
    </div>
    <div class="card">
      <img src="/images/ozonioterapia.jpeg" alt="Ozonioterapia">
      <h3>OZONIOTERAPIA</h3>
    </div>
  </main>
</div>
