<div class="cliente">
    <p>Jagdsgda</p>
    <h2>Faça seu login</h2>
    <form method="POST">
        <label for="nome">Insira seu nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Insira o seu nome">
        <label for="nome">Insira seu email:</label>
        <input type="text" name="email" id="email" placeholder="Insira o seu email">
        <label for="nome">Insira sua senha:</label>
        <input type="text" name="senha" id="senha" placeholder="Insira o seu senha">
    </form>

</div>