<div class="container-login">
    
<div class="header">
    <a href="/" class="back-arrow">←</a>
</div>
<h1>Criar novo horário</h1>
<form class="form">
    <label for="name">cliente</label>
    <input type="text" id="cliente" name="name" placeholder="" required>
    
    <label for="email">selecione pacote </label>
    <select name="item" id="item">
        <option value="item1">pacote 1</option>
        <option value="item2">pacote 2</option>
        <option value="item3">pacote 3</option>
        <option value="item4">pacote 4</option>
    </select>
    
    <label for="birthdate">Data do atendimento</label>
    <input type="date" id="birthdate" name="birthdate" required>
    
    <button type="submit" class="btn"><a href="/calendario">calendario</a></button>

</form>


</div>